<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>

  <body>
    <%- include ('./partials/nav.ejs') %>
    <div class="projects content">
      <h2>All Projects</h2>
      <% if (projects.length > 0){%> 
        <%projects.forEach(project=>{%>
          <a href="/projects/<%=project._id%>" class="single">
      <h3 class="title"><%=project.title%></h3>
      <p class="description"><%=project.description%></p>
      <%})%> <% } else { %>
      <p>There are no projects to display...</p>
      <%}%>
    </div>
    <%- include ('./partials/footer.ejs') %>
  </body>
</html>
